.delete-btn {
    background-color: transparent;
    border: 1px solid #010133; 
    color: #010133; 
    font-size: 18px; 
    cursor: pointer;
    transition: transform 0.3s ease-in-out, color 0.3s ease;
    display: inline-flex; 
    justify-content: center;
    align-items: center;
    width: auto;
  }
  
  .delete-btn:hover {
    color: #FF6347; 
    border-color: #FF6347; 
    transform: scale(1.1); 
    background-color: #010133;
  }
  
  .delete-btn:focus {
    outline: none;
  }

  #profileImage{
    object-fit: cover;
    width: auto;
    height: 12em;
    border-radius: 10px;
  }
  