:root {
    --font: 'Roboto', 'Open Sans', 'Montserrat', 'Poppins', 'Raleway', 'Ubuntu';
}


.text-center {
    font-weight: 600;
    color: #333;
  }


  .card {
    border-radius: 10px;
    transition: transform 0.2s;
    height: 100%;
    width: 100%;
    margin-bottom: 10px;
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  }
  
  .card-title {
    font-size: 1rem;
    margin-bottom: 5px;
    font-weight: 500;
    color: #0c0153;
  }

  .card-text{
    color: #0c0153;
  }

  .card-img-top {
    height: auto;
    width: 100%;
  }

  
.product-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 8px;
  overflow: hidden;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1) !important;
}


.img-container {
  height: 280px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
 
}


.product-image {
  width: 100%;
  height: 40em;
}


.btn-primary {
  font-weight: 500;
  padding: 0.5rem 1rem;
}
  
  
  @media (max-width: 576px) {
    .card-img-top {
      height: 120px;
    }
    
    .card-title {
      font-size: 0.9rem;
    }
    
    .btn-sm {
      font-size: 0.75rem;
      padding: 0.2rem 0.5rem;
    }
  }